@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700|Work+Sans:400,600,700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;

html {
  @apply h-screen;
  @apply font-body;
}

body {
  @apply h-screen;
  color: #212121;
}

h1,
h2 {
  @apply font-headings;
}

.content {
  h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply pt-12;
    @apply pb-2;
  }
  ul li,
  p {
    @apply text-lg;
  }
  p {
    @apply py-3;
  }
  ul li {
    &:before {
      content: '•';
      @apply mr-3;
    }
    @apply flex;
    @apply my-2;
  }
  img {
    @apply mx-auto;
    @apply my-8;
    &:after {
      content: 'caption';
    }
  }
  .caption {
    color: #888888;
    @apply text-center;
    @apply -mt-8;
  }
  .swoosh {
    @apply mt-5;
    display: block;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translateX(10px);
      transition: all 0.2s ease-in-out;
    }
  }
}
@tailwind components;

@tailwind utilities;
